body {
    padding: 15px;
}

#plot {
    position: relative;
    left: 0px;
    top: 0px;
    width: 1800px;
    height: 600px;
    border: 1px solid black;
}

#controls {
    position: relative;
    top: 0%;
    right: 0%;
}
